# Configuración de Prisma (Base de Datos)
# Reemplaza 'usuario', 'contraseña' y 'nombre_db' con tus propios datos.
# Si la base de datos corre en local, usa localhost o 127.0.0.1
DATABASE_URL="postgresql://postgres:123456@localhost:5432/saas_database?schema=public"

# Puerto del servidor (opcional, por defecto 3000)
PORT=3000
JWT_SECRET = fb355c866a2750e6f8c383b5fb52a48eb9646e42e5e70be57baac717ef341edc
